:root {
    --color-white: #{$white};
    --color-black: #{$black};
    --color-grey-100: #{$grey-100};
    --color-grey-200: #{$grey-200};
    --color-grey-300: #{$grey-300};
    --color-grey-400: #{$grey-400};
    --color-grey-500: #{$grey-500};
    --color-grey-600: #{$grey-600};
    --color-grey-700: #{$grey-700};
    --color-grey-800: #{$grey-800};
    --color-grey-900: #{$grey-900};
    --color-primary: #{$black};
    --color-primary-invert: #{$grey-900};
    --color-secondary: #{$gold};
    --color-secondary-invert: #{$gold-600};
    --color-accent: #{$red};
    --color-success: #{$green};
    --color-danger: #{$red};
    --background-dark: #{$grey-900};

    --util-box-shadow: 0 0 10px 0 rgb(119 119 119 / 50%);
    --util-box-shadow-active: 0 0 10px 0 rgb(119 119 119);
}

@import "./header";