.share-block{
	margin: 0 0 0.75rem 0;
	display: block;
	float: left;
	width:100%;
	div{
		float:left;
		margin-right: 0.25rem;
		&.share-text{
			h4{
				margin:0;
				color: #bf2025;
				font-family: 'Courgette', cursive;
			}
		}
	}
}

.fb-share-button{
	float: left;
	line-height: 0;
}