/******************************************************************
Site Name: Pittsburgh Forge Rugby Club
Author: Andrew Chapman

Stylesheet: Woocommerce Product Page Styles

Styles specifically for pages build and managed within Woocommerce.

******************************************************************/


.woocommerce{
    article.type-product {
        background-color: $white;
        border-radius: 3px;
        margin-bottom: 1.5em;
        border: 1px solid $border-color;
        padding:0.625rem;
        position:relative;
        @include breakpoint(tabletUp) {
            padding:1rem;
        }
        footer {
            p {
                margin: 0;
            }
        }
        .hentry-quicklinks{
            position:absolute;
            top:2rem;
            right:2rem;
            a{
                line-height: 32px;
                display: flex;
                color: black;
            }
            i{
                margin-left:1rem;
            }
        }
        .byline{
            display:none;
        }
    }
    div.product{
        p,
        span{
            &.price{
                color:$black;
                font-weight:700;
            }
        }
        form.cart .button{
            background-color: $forge-gold;
            height:2.5rem;
        }
        .product_meta{
            .sku_wrapper{
                display:none;
            }
        }
    }
    ul.products li.product .price{
        color: $black;
    }
    .woocommerce-message{
        border-top-color: $forge-gold;
        &:before{
            color: $forge-gold;
        }
    }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
    background-color:$forge-gold;
    border:1px solid transparent;
    &:hover{
        background-color: $white;
        border:1px solid $black;
        color: $black;
    }
}