$base-font-size: 16px;

html {
    font-size: $base-font-size;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: inherit;
    font-family: $font-family-sans-serif;
    font-weight: 400;

    &.preload * {
        animation-duration: 0s !important;
        transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    color: var(--color-primary);
    transition: color 0.5s ease;

    &:hover {
        color: var(--color-primary-invert);
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: none;
    }

    &:focus-visible {
        box-shadow: none;
        outline: -webkit-focus-ring-color auto 1px;
    }
}

#wrapper {
    &.js-screen-sized {
        height: 100vh;
        overflow: hidden;
    }
}

#main {
    position: relative;

    @include media-breakpoint-up(lg) {
        padding-top: rem(119);
    }
}

// Table

.wp-block-table {

    td,
    th {
        border: inherit;
    }

    table {
        @extend .table;
    }
}