@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "./utilities/utils";

.page.home {
    #wrapper {
        overflow: hidden;
    }

    .hentry {
        background-color: rgba(0, 0, 0, 0.3);
        width: auto;
        margin: rem(-17) auto rem(30);
        padding: rem(24);
        box-shadow: 0 0 rem(8) 0 #000;

        @include media-breakpoint-up(md) {
            margin: rem(60) auto;
            padding: rem(26);
        }

        .highlight-white {
            color: var(--color-white);
        }

        .highlight-gold {
            color: var(--color-gold);
        }

        h1 {
            color: var(--color-primary);
            font-size: rem(28);
            letter-spacing: 1px;
            margin: 0 0 1rem;
            text-transform: uppercase;
            @include lemonmilk();

            @include media-breakpoint-up(md) {
                font-size: rem(48);
            }
        }

        h2 {
            color: var(--color-primary);
            margin-bottom: rem(24);
            text-decoration: underline;
        }

        p {
            text-align: center;
            margin: 0 auto;
            color: var(--color-white);
            max-width: rem(1000);
        }
    }

    #bg-video {
        z-index: -1;
        position: absolute;
        // top: 50%;
        top: 39%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100vw;
        height: auto;
        transform: translate(-50%, -50%);
        display: none;

        @include media-breakpoint-up(lg) {
            display: inline-block;
        }
    }

    .post-cards-home {

        .post-card-row {
            display: none;

            &.swiper-initialized {
                display: block;
            }
        }

        .card {
            background-color: var(--color-gray-900);
            color: var(--color-white);
            border: 1px solid var(--color-gold);
            box-shadow: 0 0 rem(8) 0 #000;

            .card-title,
            .card-title a {
                color: var(--color-primary);
            }
        }
    }
}