/******************************************************************
Site Name:
Author:

Stylesheet: Header Styles

******************************************************************/

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $forge-gold;
	background-image: url("../images/low-contrast-linen.png");
}

#inner-header{
	position:relative;
}

.logo {
	position: absolute;
	max-width: 12.188rem;
	top: 0.5rem;
	left: 0.5rem;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;
	@include breakpoint(tabletUp) {
		border:0;
		ul {
			background:$black;
			margin-top:0;
		}
	}

	li {
		@include breakpoint(tabletUp) {
			float: left;
			position: relative;
		}
		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
			@include breakpoint(tabletUp) {
				border-bottom:0;
			}

			@include breakpoint(tabletUp) {
				&:hover, &:focus {
					color: $white;
					text-decoration: underline;
				}
			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
			@include breakpoint(tabletUp) {
				margin-top: 0;
				border: 1px solid #ccc;
				border-top: 0;
				position: absolute;
				visibility: hidden;
				z-index: 8999;
			}

			li {

				a {
					padding-left: 30px;
					@include breakpoint(tabletUp) {
						padding-left: 10px;
						border-right: 0;
						display: block;
						width: 180px;
						border-bottom: 1px solid #ccc;
					}

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				@include breakpoint(tabletUp) {
					&:last-child {
						a{
							border-bottom:0;
						}
					}

					ul{
						top:0;
						left:100%;
					}
				}

			}

		}

		@include breakpoint(tabletUp) {
			/* showing sub-menus */
			&:hover > ul {
				top: auto;
				visibility:visible;
			}
		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */
