/******************************************************************
Site Name: Pittsburgh Forge Rugby Club
Author: Andrew Chapman

Stylesheet: Header Styles

******************************************************************/

/*********************
HOMEPAGE STYLES
*********************/

.page-home{
	#content{
		margin-top:0;
	}
	.hero{
		min-height:30.375rem;
		display:flex;
		align-items:center;
		justify-content: center;
		color:white;
		h1{
			color:$forge-gold;
			font-family:$lemonmilk-regular;
			font-size:3rem;
			letter-spacing:0.063rem;
		}
	}
}