/******************************************************************
Site Name: Pittsburgh Forge Rugby Club
Author: Andrew Chapman

Stylesheet: Header Styles

******************************************************************/

/*********************
HOMEPAGE STYLES
*********************/

.page-home{
	#content{
		margin-top:3.625rem;
	}
}