header {
    border-bottom: rem(2) solid var(--color-secondary);
    position: relative;

    .header-top {
        padding: rem(10) 0;

        .social-links {
            float: none;
            display: flex;
            margin: 0 0 0 2rem;
            list-style: none;

            li {
                border: 1px solid var(--color-secondary);
                border-radius: 50%;
                width: rem(30);
                height: rem(30);
                display: flex;
                align-items: center;
                justify-content: center;

                &:not(:last-child) {
                    margin-right: rem(10);
                }
            }

            .lab {
                font-size: rem(20);

                &:before {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }

    .header-main {
        background-color: var(--color-gray-800);
    }

    .navbar-logo {
        position: absolute;
        max-width: rem(135);
        top: 0;
        left: 0;
        background-color: var(--color-gray-800);
        border-right: rem(2) solid var(--color-secondary);
        border-bottom: rem(2) solid var(--color-secondary);
    }

    #navbar {}

    .navbar-static-top {
        margin-bottom: $grid-gutter-width;
    }

    .search-form {
        min-width: rem(250);
    }
}