.widget-area {
    margin-top: rem(24);

    ul {
        list-style: none;
        padding: 0;
    }
}

#sidebar {
    margin-top: rem(60);

    @include media-breakpoint-up(sm) {
        margin-top: 0;
    }
}