header,
.edge-bottom {
    .social-links {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &:not(:last-child) {
                margin-right: rem(14);
            }
        }

        .social-links-title {
            color: var(--color-white);
            white-space: nowrap;
        }

        .social-link {
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        .fab {
            font-size: rem(18);
            margin-right: rem(8);

            &:before {
                position: relative;
                top: 1px;
            }
        }
    }
}

.edge-bottom {
    display: none;

    @include media-breakpoint-up(lg) {
        display: flex;
        animation: edge-bottom-out 0.5s forwards;

        body.is-scrolled & {
            animation: edge-bottom-in 0.5s forwards;
        }
    }

    .social-links {
        padding: rem(12);
        background: rgba(0, 0, 0, .8);
        border-top: rem(2) solid var(--color-gray-800);
        border-left: rem(2) solid var(--color-gray-800);
    }
}

.social-share {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    .share-badge {
        &.share-text {
            h4 {
                margin: 0;
                color: var(--color-red);
                font-family: 'Courgette', cursive;
            }
        }

        &.facebook {
            margin-right: rem(5);
        }
    }
}

.fb-share-button {
    float: left;
    line-height: 0;
}

.shortcode-social-links {
    display: flex;
    list-style: none !important;
    padding: 0 !important;

    li {
        margin: 0 0.625rem;

        a {
            &:hover {
                color: $black;
            }
        }
    }

    .fab {
        font-size: 3rem;
    }
}