.sponsors-bar {
    display: block;
    background-color: $black;
    clear: both;
    padding: 1.25rem 0;

    .sponsors-bar-inner {
        justify-content: center;
    }

    .sponsor {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);

        @include media-breakpoint-up(xl) {
            margin-bottom: 0;
        }

        a {
            display: block;
        }
    }

    .sponsor__logo {
        max-width: 6.5rem;
        max-height: 6.5rem;

        @include media-breakpoint-up(sm) {
            max-width: 9.5rem;
            max-height: 9.5rem;
        }

        @include media-breakpoint-up(md) {
            max-width: 12.5rem;
            max-height: 12.5rem;
        }
    }

    .iron-city {
        .sponsor__logo {
            max-width: 5rem;

            @include media-breakpoint-up(sm) {
                max-width: 8rem;
            }

            @include media-breakpoint-up(md) {
                max-width: 11rem;
            }
        }
    }

    .ic-light {
        .sponsor__logo {
            max-width: 4.5rem;

            @include media-breakpoint-up(sm) {
                max-width: 6.5rem;
            }

            @include media-breakpoint-up(md) {
                max-width: 9rem;
            }
        }
    }
}