.info-icon {
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 0;
    background: inherit;

    .icon {
        border-radius: 1.25rem;
        background-color: var(--color-primary);
        width: 1.5625rem;
        display: inline-block;
        text-align: center;
        color: var(--color-secondary);
        font-weight: 600;
    }

    .tooltip {
        display: none;
    }

}