.link-list {
	#inner-content {
		display: flex;
		justify-content: center;
	}

	.primary {
		max-width: 20rem;
	}

	.hentry {
		background: transparent;
		border: 0;
	}

	.article-header {
		text-align: center;
	}

	.page-title {
		color: $white;
	}

	.wp-block-button{
		width: 100%;
	}
}