.offline {
	text-align: center;

	.primary{
		width: 100%;
	}

	.article-header {
		text-align: center;
	}

	.logo {
		max-width: 9.375rem;
	}

	h1 {
		text-align: center;
		font-size: 2rem;
	}

	.entry-content{
		padding-top: 0;
	}
}