/* If WP-Adminbar is visible */
body.admin-bar {
	.edit-link a {
		color: #fff !important;
		font-weight: normal !important;
		text-decoration: none !important;

		&::before {
			content: "\270E";
			display: inline-block;
			margin-right: 5px;
		}
	}
}