/* If WP-Adminbar is visible */
body.admin-bar {
	.edit-link a {
		color: var(--color-primary) !important;
		font-size: rem(20) !important;
		font-weight: bold !important;
		text-decoration: none !important;

		&::before {
			content: "\270E";
			display: inline-block;
			margin-right: rem(5);
		}
	}
}