.home-countdown-widget {
    display: none;
    justify-content: center;
    margin-bottom: rem(26);

    @include media-breakpoint-up(md) {
        margin-bottom: rem(46);
    }

    &.js-show {
        display: flex;
    }
}

.home-countdown-inner {
    display: inline-block;
    padding: rem(20);
    background-color: var(--color-gray-900);
    box-shadow: 0 0 rem(8) 0 #000;

    .countdown-heading {
        .headline {
            margin-bottom: rem(20);
            text-align: center;
            text-transform: uppercase;
            color: var(--color-white);
            font-size: rem(25);
            text-shadow: rem(3) rem(3) var(--color-black);
        }
    }
}

.home-countdown-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .sp-widget-align-none,
    .sp-widget-align-left,
    .sp-widget-align-right {
        display: none;
        width: 100%;
        margin-bottom: rem(13);

        @include media-breakpoint-up(md) {
            // width - 50% of outer wrapper with padding
            width:calc(662.25px * 0.5);

            &:nth-child(odd) {
                padding-right: rem(20);
            }

            &:only-child {
                padding-left: 0;
                padding-right: 0;
            }

        }

        @include media-breakpoint-up(lg) {
            // width - 25% of outer wrapper with padding
            width:calc(913px * 0.5);
            padding: 0 rem(10);

            &:nth-child(odd) {
                padding-right: rem(10);
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &:only-child {
                padding-left: 0;
                padding-right: 0;
            }
        }

        @include media-breakpoint-up(xl) {
            // width - 25% of outer wrapper with padding
            width:calc(1400px * 0.25);
        }

        &.js-active {
            display: block;
        }
    }

    .countdown-block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .widget-title {
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            margin-bottom: rem(13);
        }
    }

    .card {
        width: 100% !important;
        flex: 1;
    }

    .card-body {
        padding-top: rem(8);
    }

    .sp-template {
        margin-bottom: 0 !important;
    }

    .sp-template-countdown {
        height: 100%;

        .sp-countdown-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .sp-event-name,
        .sp-event-venue,
        .sp-event-league,
        .sp-event-date {
            border: 0 !important;
            background: transparent !important;
        }

        .sp-event-date {
            text-transform: uppercase !important;
            color: var(--color-black) !important;
            font-size: rem(16) !important;
            padding-bottom: 0 !important;
            padding-bottom: rem(16) !important;
        }
    }

    .countdown-home-away {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: rem(10);
        @include sansAltMed();
        text-transform: uppercase !important;
        font-weight: 500 !important;

        &+hr {
            margin-top: rem(6);
            margin-bottom: rem(8);
        }

    }

    .team-logo {
        width: auto;
    }

    .event-name {
        display: flex !important;
        align-items: center;

        .event-teams {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 rem(10);

            .event-team {
                font-size: rem(14) !important;
                text-transform: uppercase !important;
            }

            .forge {
                order: 1;
                font-family: $oswald !important;
                font-weight: 600  !important;
                font-size: rem(18) !important;
            }

            .against {
                order: 2;
                font-family: $oswald !important;
                font-weight: 500  !important;
                font-size: rem(18) !important;
            }

            .not-forge {
                order: 3;
            }
        }

        .home-team {

        }

        .away-team {

        }

        .forge {

        }
    }

    .sp-countdown,
    .countdown-dev {
        margin: rem(12) 0 0 0;
        display: flex;
        justify-content: center;

        time {
            border: 0 !important;
            display: flex !important;
            width: 90% !important;
        }

        span {
            display: flex !important;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            flex: 1;
            padding: rem(8) rem(5) !important;
            background: #222 !important;
            color: #ccc !important;
            font-family: sans-serif !important;
            font-size: 2rem !important;
            font-weight: bolder !important;
            line-height: 0.95 !important;
            border-radius: 0.15rem;
            border: 1px solid #000 !important;

            small {
                width: 100%;
                text-align: center;
                color: white !important;
                font-size: 12px !important;
                line-height: 1.5 !important;
                font-weight: 500 !important;
                display: block !important;

            }
        }
    }
}