.mobile-only{
  display:block;
  @include breakpoint(tabletUp) {
	display:none !important;
  }
}

.mobile-tablet-only{
  display:block;
  @include breakpoint(desktop) {
	display:none !important;
  }
}

.lgtabletup-only{
  display:none !important;
  @include breakpoint(lgTabletUp) {
	display:block !important;
  }
}

.tabletup-only{
  display:none !important;
  @include breakpoint(tabletUp) {
	display:block !important;
  }
}

.desktop-only{
  display:none !important;
  @include breakpoint(desktop) {
	display:block !important;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin notVisuallyHidden {
  width: auto;
  height: auto;
  clip: auto;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: static;
}

.highlight-gold{
  color:$forge-gold;
}
.highlight-white{
  color:$white;
}