/******************************************************************
Site Name: Pittsburgh Forge Rugby Club
Author: Andrew Chapman

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
Breakpoint Mixins
*********************/

@mixin breakpoint($point) {
	@if $point == desktop {
		@media screen and (min-width:64.0625em) { @content ; } // (1025px and up)
	}
	@else if $point == lgTabletUp {
		@media screen and ( min-width:60em) { @content ; } // (960px and up)
	}
	@else if $point == tabletUp {
		@media screen and (min-width:48em) { @content ; } // (768px and up)
	}
	@else if $point == tablet {
		@media screen and ( min-width:48em) and (max-width:64em) { @content ; } // (768px - 1024px)
	}
	@else if $point == lgTablet {
		@media screen and ( min-width:60em) and (max-width:64em) { @content ; } // (960px - 1024px)
	}
	@else if $point == smDesktop {
		@media screen and ( min-width:60em) and (max-width:75em) { @content ; } // (960px - 1200px)
	}
	@else if $point == smTablet {
		@media screen and ( min-width:48em) and (max-width:59.9375em) { @content ; } // (768px - 959px)
	}
	@else if $point == lgMobileUp {
		@media screen and ( min-width:30.063em){ @content ; } // (481px and up)
	}
	@else if $point == lgMobile {
		@media screen and ( min-width:30em) and (max-width:47.9375em) { @content ; } // (480px - 767px)
	}
	@else if $point == smMobile {
		@media screen and (max-width:20em) { @content ; } // (up to 320px)
	}
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$forge-gold:		#FFB81C;
$forge-red: 		#C60C30;

$black:             #000;
$ltblack:			#222;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        $black;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $forge-gold;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
